<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lägg till kurs</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Mina kurser</a></li>
            <li><a href="/add" class="current">Lägg till kurs</a></li>
            <li><a href="/about">Om</a></li>
        </ul>
    </header>
    <h1>Lägg till en kurs</h1>
    <% if (errors && errors.length > 0) { %>
        <!-- Om det finns felmeddelanden, visa dem i en lista -->
        <section class="error-messages">
            <ul>
                <% errors.forEach(function(error) { %>
                    <li><%= error %></li>
                <% }) %>
            </ul>
        </section>
    <% } %>         
    <form action="/add" method="POST" class="course-form"> <!-- Använder POST för att skicka data till servern för att skapa en ny kurs -->
        <label>Kurskod:</label>
        <input type="text" name="coursecode" id="coursecode"><br>

        <label>Kursnamn:</label>
        <input type="text" name="coursename" id="coursename"><br>

        <label>Kursplan (länk):</label>
        <input type="text" name="syllabus" id="syllabus"><br>

        <label>Progression (A/B/C):</label>
        <input type="text" name="progression" id="progression"><br>

        <button type="submit">Lägg till</button>
    </form>
</body>
</html>