<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mina kurser</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/" class="current">Mina kurser</a></li>
            <li><a href="/add">Lägg till kurs</a></li>
            <li><a href="/about">Om</a></li>
        </ul>
    </header>
    <h1>Alla kurser i en lista...</h1>
</body>
</html>